@import "_nullstyle";

body {
	font-family: "Titillium Web";
}

.wrapper {
	width: 1440px;
	margin: auto;
	border: 3px solid #000;
}
a {
	color: #ffffff;
	font-family: "Titillium Web";
}

.block1 {
	display: flex;
	flex-direction: column;
	//width: 1440px;
	height: 596px;
	background-color: #87509c;
	//border: 3px solid #000;

	&__menu {
		display: flex;
		justify-content: space-between;
		//border: 3px solid #000;
	}

	&__menu-logo1 {
		display: flex;
		//border: 3px solid #000;
		margin-left: 167px;
		margin-top: 57px;
		justify-content: center;
		width: 167px;
		height: 37px;
	}
	&__menu-navigation {
		display: flex;
		//border: 3px solid #000;
		margin-top: 65px;
		margin-right: 195px;
		padding: 10px;
	}
	&__menu-navigation li {
		display: flex;
		width: 100px;
		justify-content: space-evenly;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		text-decoration-color: #ffffff;
	}
	&__menu-navigation li:first-child {
		display: flex;
		//border: 3px solid #000;
		width: 77px;
		height: 32px;
		margin-top: -6px;
		padding: 6px;
		background-color: #643a79;
		border-radius: 2px;
		text-align: center;
	}
	&__text {
		display: flex;
		text-align: center;
		//border: 5px solid #ea0707;
		margin-top: 145px;
		margin-left: 267px;
		width: 906px;
		font-size: 42.2px;
		line-height: 48px;
		font-weight: 700;
		color: #f7f3ea;
	}
	&__button {
		display: flex;
		justify-content: center;
		padding-top: 54px;
	}
	&__button-text {
		display: inline-block;
		padding: 25px 25px;
		font-size: 18px;
		line-height: 26px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #ffffff;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		border: none;
		border-radius: 3px;
		box-shadow: 0 5px #c36032;
		width: 287px;
		height: 70px;
		background-color: #eb7d4b;
	}
}
.block2 {
	display: flex;
	flex-direction: column;
	width: 1440px;
	height: 747px;
	background-color: #09f8cc;
	//border: 3px solid #fc08f4;

	&__upper {
		//border: 3px solid #000;
		text-align: center;
	}
	&__upper-title {
		font-size: 40px;
		line-height: 29px;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #ffffff;
		padding-top: 118px;
	}
	&__upper-line {
		display: inline-block;
		width: 87px;
		height: 4px;
		opacity: 0.14;
		background-color: #000000;
		margin: 21px;
	}
	&__upper-subtittle {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: #ffffff;
		width: 604px;
		margin: auto;
		text-align: center;
		margin-bottom: 79px;
	}
	&__main {
		//border: 3px solid #9bfb01;
		display: flex;
		justify-content: space-between;
	}
	&__main-category1 {
		display: flex;
		//border: 3px solid #ee0606;
		flex-direction: column;
		text-align: center;
		margin-left:  204px; ;
	}
	&__main-category1-title {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #ffffff;
		//border: 3px solid #000;
		margin-top: 62px;
		margin-bottom: 27px;
	}
	&__main-category1-text {
		//text-align: center;
		width: 192px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__main-category2 {
		display: flex;
		//border: 3px solid #ee0606;
		flex-direction: column;
		text-align: center;		
	}
	&__main-category2-title {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #ffffff;
		//border: 3px solid #000;
		margin-top: 62px;
		margin-bottom: 27px;
	}
	&__main-category2-text {
		width: 192px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__main-category3 {
		display: flex;
		//border: 3px solid #ee0606;
		flex-direction: column;
		text-align: center;
		
	}
	&__main-category3-title {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #ffffff;
		//border: 3px solid #000;
		margin-top: 62px;
		margin-bottom: 27px;
	}
	&__main-category3-text {
		width: 192px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__main-category4 {
		display: flex;
		//border: 3px solid #ee0606;
		flex-direction: column;
		text-align: center;
		margin-right: 204px;
		
	}
	&__main-category4-title {
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #ffffff;
		//border: 3px solid #000;
		margin-top: 62px;
		margin-bottom: 27px;
	}
	&__main-category4-text {
		width: 192px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
}

.block3 {
	display: flex;
	width: 1440px;
	height: 914px;
	background-color: #e7f1f8;
	//border: 3px solid #000;
}
.block4 {
	display: flex;
	width: 1440px;
	height: 655px;
	background-color: #ffffff;
	//border: 3px solid #000;
}
.block5 {
	display: flex;
	width: 1440px;
	height: 1423px;
	background-color: #ffdd99;
	//border: 3px solid #000;
}
.block6 {
	display: flex;
	width: 1440px;
	height: 894px;
	background-color: #d74680;
	//border: 3px solid #000;
}
.block7 {
	display: flex;
	width: 1440px;
	height: 819px;
	background-color: #3c5499;
	//border: 3px solid #000;
}
