@import "_nullstyle";

body {
	font-family: "Titillium Web";
}

.wrapper {
}
.block1 {
	width: 1440px;
height: 596px;
background-color: #87509c;

		&__menu {
			display: flex;
			justify-content: space-between;
			
		}
		&__menu-logo {
			display: flex;
			padding: 57px 0px 10px 160px;
		}
		&__menu-navigation {
			display: flex;
			padding: 75px 195px 10px 160px;		
			
		}
		&__menu-navigation.li{
			padding: 0px 0px 30px 30px;
		}
		&__text {
			font-size: 48px;
		}
		&__button {
		}
		&__button-text {
		}
}
