body {
  background-color: #000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 50px;
}

.content__circle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 0;
  -webkit-animation-name: white-circle;
          animation-name: white-circle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.content:hover .content__circle {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes white-circle {
  0% {
    left: 0;
  }
  50% {
    border-radius: 0;
  }
  100% {
    left: 500px;
  }
}

@keyframes white-circle {
  0% {
    left: 0;
  }
  50% {
    border-radius: 0;
  }
  100% {
    left: 500px;
  }
}