body {
  background-color: rgb(186, 186, 186);
}

.container {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  color: #000;
  max-width: 1920px;
  margin: auto;
  background: url(../img/bg_photo_11949.png);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header1 {
  width: 300px;
  height: 300px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main1 {
  width: 300px;
  height: 300px;
}

.main1:first-child {
  width: 150px;
  height: 150px;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer1 {
  width: 300px;
  height: 300px;
}